[user]
  name = Matthew Kehrt
  email = mkehrt@roseandsigil.net
[core]
  trustctime = false
[alias]
  amend = commit --amend
  br = checkout -b
  ca = commit -a
  cap = commit -ap
  fp = !git pull --rebase && git fpush origin master
  hd = rev-parse HEAD
  lg = log --graph --pretty=format:'%Cred%h%Creset - %s %Cgreen%cD %C(yellow)%d%Creset %C(bold blue)<%an>%Creset' --date=local --topo-order
  mhd = merge-base HEAD master
  pr = pull --rebase
  rc = rebase --continue
  st = status
  switch = checkout
  pp = !git pull --rebase && git push origin master
  upd = !GIT_BR=`git rev-parse --abbrev-ref HEAD` && git switch master && git pull --rebase && git switch $GIT_BR && git rebase master
