[user]
	name = Matthew Kehrt
	email = mkehrt@roseandsigil.net
[core]
	trustctime = false
[alias]
	pr = pull --rebase
	br = checkout -b
	switch = checkout
	st = status
	lg = log --graph --pretty=format:'%Cred%h%Creset - %s %Cgreen%cD %C(yellow)%d%Creset %C(bold blue)<%an>%Creset' --date=local --topo-order
  rc = rebase --continue
  ca = commit -a
  cap = commit -ap
  hd = rev-parse HEAD
  mhd = merge-base HEAD master
