# Let vundle handle bundles, except itself, which should be a submodule.
.vim/bundles/**
!.vim/bundle/vundle/**

# Object files
*.o
*.ko

# Libraries
*.lib
*.a

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
